#section1{
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#section1 .title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
} 

#section1 .campusImage1{
    position: absolute;
    z-index: -1;
    user-select: none;
    pointer-events: none;
    filter: brightness(70%);
    width: 100vw;
}

#section2{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: transparent;
    padding: 5vw 10vw ;
    height: 100%;
}

#section2 .sectionContentWrapper{
    flex: 0 0 40vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    position: relative;
    height: 60vh;
}

#section2 .sectionContentWrapper .quote{
    position: absolute;
    width: 10vw;
    height: auto;
    background-color: transparent;
    overflow: hidden;
}

.quote svg{
    fill: rgba(var(--gray), 1);
}

#section2 .sectionContentWrapper .quote.left{
    left: 0;
    top: 15%;
}

#section2 .sectionContentWrapper .quote.right{
    right: 0;
    bottom: 15%;
    transform: scale(-1);
}

#section2 .sectionContentWrapper .visions{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

#section2 .sectionContentWrapper .visions p{
    text-align: justify;
}

#section2 .sectionContentWrapper .visions p + p{
    margin-top: 1vw;
}

#section2 .imageHolder{
    width: 35vw;
    background-color: grey;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
}

#section2 .imageHolder img{
    width: 100%;
    height: auto;
}

p strong{
    color: rgba(var(--periwinkle), 1);
}

#section3{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 4vw 10vw 5vw;
    height: 100%;
    background-color: rgba(var(--periwinkle), 0.2);
    gap: 2vw;
}

#section3 hr{
    width: 100%;
    height: 1px;
}

#section3 .sectionHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 0;
    width: 100%;
    margin-bottom: 1vw;
}

#section3 .aTitle{
    width: 100%;
    text-align: center;
    transform: scale(1);
    transform-origin: bottom center;
    font-weight: 800;
}

.funOver2,
.funOver1,
.funOver3{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2vw;
}

.funOver3{
    flex-direction: column;
    gap: 1vw;
}

.funOver1{
    align-items: flex-end;
}

.funOver2{
    justify-content: flex-end;
}

.demoWrapper{
    flex: 0 0 50%;
    height: 20vw;
    user-select: none;
    border: none;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1vw;
}

.demoWrapper img{
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0.1vw 0.5vw 1vw rgba(var(--black), 0.2);
}


.funOver3 .funExWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
}

.funOver2 .funExWrapper,
.funOver1 .funExWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    gap: 1vw;
}

.funExWrapper .funTitle{
    font-size: var(--h2-fontsize);
    font-weight: bolder;
    color: rgba(var(--sea-green), 1);
}

.funExWrapper strong{
    color: rgba(var(--black), 1);
}

.funExWrapper .fundesc{
    width: 35vw;
    text-align: justify;
}

.funOver3 .funExWrapper .fundesc{
    width: 35vw;
    text-align: center;
}

#section4{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 7vw 6.5vw 5vw;
    height: 100%;
    background-color: white;
    gap: 2vw;
    position: relative;
    overflow: hidden;
}

#section4 .teamTitle{
    position: absolute;
    top: 0;
    user-select: none;
    font-size: 8vw;
    color: rgba(var(--gray), 1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 8vw;
    transform-origin: bottom right;
    transform-origin: left bottom; 
    
    transform: scale(6); 
    will-change: transform;  
    pointer-events: none;
}

.teamContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    gap: 0.5vw;
}

.imgItem{
    height: 75vh;
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    box-shadow: 0.1vw 0.5vw 0.6vw rgba(var(--black), 0.3);
}

.member{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.memberDescWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5vw;
    flex-direction: column;
    width: 40vw;
    margin-left: auto;
    align-self: center;
}

.memberDescWrapper hr{
    width: 100%;
    height: 1px;
    color: rgba(var(--gray), 1)
}

.memberDescWrapper .memberName{
    font-size: var(--h1-fontsize);
    font-family: "Instrument Serif", serif;
    text-transform: uppercase;
    margin-bottom: -0.5vw;
}

.memberDescWrapper .memberDesc{
    font-size: var(--h3-fontsize);
    margin-bottom: 1.5vw;
}

.memberDescWrapper .contribution{
    margin-top: 1.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw 2vw;
}

.memberDescWrapper .contribution .item{
    font-size: var(--p-fontsize);
    flex: 0 0 calc(50% - 1vw);
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.memberDescWrapper .contribution .subitem:first-child{
    margin-top: 0.35vw;
}

.memberDescWrapper .contribution .subitem + .subitem{
    margin-top: 0.2vw;
}

.memberDescWrapper .contribution .subitem{
    font-weight: normal;
    font-size: var(--xs-fontsize);
    text-align: justify;
}

.teamContent .arrow{
    width: 0.5vw;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamContent .arrow svg{
    fill: none;
}

.teamContent .arrow svg path{
    stroke: rgba(var(--black), 0.8);
    stroke-width: 3;
}

.teamContent .arrow.left{
    margin-right: 0.5vw;
}

.teamContent .arrow.right{
    margin-left: 0.5vw;
    transform: scaleX(-1);
}

.carouselIndicators{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.carouselIndicators .dot{
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    background-color: rgba(var(--black), 1);
}

.member.switching {
    opacity: 0;
    transform: scale(1.02);
    visibility: hidden;
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s 0.4s;
}

.member.prepare {
    opacity: 0;
    transform: scale(0.98); 
    visibility: hidden;
}

.member.active {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s 0s;
}

.carouselIndicators .dot.active {
    background-color: rgba(var(--green-yellow), 1);;
    transform: scale(1.2);
}