#section1{
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#section1 .title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
} 

#section1 .campusImage1{
    position: absolute;
    z-index: -1;
    user-select: none;
    pointer-events: none;
    filter: brightness(70%);
}