.attendance-container{
    padding: 5px;
}
.attendance-container .student-box{
    border: 2px solid black;
}


.attendance-container .overall-box {
  text-align: center; 
  border: 3px solid black;
  background-color: greenyellow;
}

.attendance-container .current-sem-box{
    max-width: 1500px;
    width:90%;
    border: 3px solid black;
    border-radius: 12px;
    padding: 20px;
    background-color: greenyellow;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
    margin: 20px auto;
}

.attendance-container .sem-header h2 {
    margin: 0 0 10px 0;
    font-size: 2.4rem;
    color: black;
    text-align: center;
}

.attendance-container .sem-stats {
    text-align: center;
    background-color: greenyellow;
    padding: 10px;
    border-radius: 8px;
}

.attendance-container .sem-stats p {
    font-size: 1.65rem;
}

.attendance-container .thick-line {
    border: none;
    height: 6px;
    background-color: greenyellow;
    margin: 20px 0;
}

.attendance-container .previous-sem-box {
    max-width: 1500px;
    width: 90%;
    border: 3px solid black;
    border-radius: 12px;
    padding: 20px;
    background-color: greenyellow;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
    margin: 20px auto;
}

.accordion{
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 12px;
  border: 2px solid black;
  background-color: white;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.acc-icon{
  font-weight: 900;
  font-size: 1.2rem;
}

.panel{
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.25s ease;
  margin-top: 10px;
}

.bar{
  height: 12px;
  border: 2px solid black;
  border-radius: 999px;
  overflow: hidden;
  background: white;
  margin-top: 6px;
}

.bar-fill{
  height: 100%;
  transition: 0.3s ease;
}
.bar-fill.low{
  background: red
}
.bar-fill.good{
  background: green
}

.otp-grid{
  display: flex;
  gap: 10px;
  margin-top: 14px;
}

.otp-box-input{
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  border: 3px solid black;
  border-radius: 12px;
}