main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
}

.reviewBooking{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    flex: 1;
    padding: 1vw 2vw 5vw;
    background-color: transparent;
}

.sectionHeader{
    margin-bottom: 1vw;
}

.tableWrapper{
    width: 100%;
    height: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 0.1vw solid rgba(var(--black), 1);
    counter-reset: rowNumber;
}


table td.number-cell::before {
    content: counter(rowNumber);
    font-weight: 400; 
    color: rgba(var(--black), 0.6);
}

table td.number-cell::before {
    content: counter(rowNumber);
    font-weight: 400; 
    color: rgba(var(--black), 0.6);
}

table thead{
    background-color: greenyellow;
    color: rgba(var(--black), 1);
    border-bottom: 0.1vw solid rgba(var(--black), 1);
}

table thead th{
    padding: 0.3vw 0.5vw;
    line-height: 1.5vw;
    font-size: var(--p-fontsize);
}

table tbody tr{
    width: 100%;
    border-bottom: 0.1vw solid rgba(var(--black), 0.4);
    background-color: white;
    transition: background-color 0.2s;
    counter-increment: rowNumber;
}

table tbody tr:nth-child(even){
    background-color: rgba(var(--black), 0.1);
}

table tbody tr:last-child{
    border-bottom: 0.1vw solid rgba(var(--black), 1);
}

table tbody tr:hover{
    background-color: rgba(var(--dark-green), 0.1);
    cursor: pointer;
}

table tbody tr td{
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
    text-align: center;
    font-size: var(--p-fontsize);
    line-height: 1.5vw;
}

table tbody tr.escalated{
    color: red;
}

table tbody th{
    text-align: center;
}

table thead th label{
    display: block;
    width: 100%;
    cursor: pointer;
}

table thead th.no-col{
    width: 5%;
}

table thead th:has(.id) label,
table thead th:has(.act) label{
    cursor: default;
}

table th:has(.id){
    width: 5%;
}

table th:has(label.title){
    width: auto;
} 

table td:has(p.titleData){
    max-width: 10vw;
}

table td p.titleData{
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 0.5vw;
}

table th:has(label.stat),
table th:has(label.cat){
    width: 10%;
} 

table th:has(label.ca){
    width: 15%;
} 

table td:has(button),
table th:has(label.act){
    padding: 0 !important;
    width: 10%;
}

table .action .inputWrapper{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
}

table td button{
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .2s, background-color 0.2s;
    padding: 0.3vw;
    font-size: var(--p-fontsize);
    font-weight: bold;
    color: rgba(var(--black), 1);
}

table td button:hover{
    background-color: rgba(var(--dark-green), 0.5);
    color: rgba(var(--black), 1);
}