#mapWrapper {
    position: relative;
    border: 1px solid #ddd;
    overflow: hidden;
}

#campusMap {
    pointer-events: none;
}

#campusMap circle, #campusMap g.poi {
    pointer-events: auto;
    cursor: pointer;
}