main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.selectInput{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 13vw;
    max-width: 13vw;
    height: auto;
    background-color: transparent;
    cursor: pointer;
    border: 0.01vw solid rgba(var(--black), 0.2);
    padding: 0.3vw 0.5vw;
}

.selectInput .selectedLabel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: var(--xs-fontsize);
}

.selectInput .selectedLabel label{
    max-width: 12vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.selectInput .selectedLabel span{
    width: 1vw;
    height: 1vw;
    transform: rotate(0);
    transition: transform 0.2s;
}

.selectInput .selectedLabel span svg{
    width: 1vw;
    height: 1vw;
    fill: none;
}

.selectInput.active .selectedLabel span{
    transform: rotate(180deg);
}

.selectInput .selectedLabel span svg path{
    stroke: rgba(var(--black), 1);
    stroke-width: 10;
}

.selectInput .optionContainer{
    position: absolute;
    top: 2vw;
    left: 50%;
    width: 0;
    max-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
    z-index: 99;
    border: 0.1vw solid rgba(var(--black), 1);
    opacity: 0;
    pointer-events: none;
    font-size: var(--xs-fontsize);
}

.selectInput.active .optionContainer{
    opacity: 1;
    pointer-events: auto;
    animation: revealBorder 0.3s ease-in-out forwards;
}

.selectInput .optionContainer .option{
    padding: 0.3vw 0.5vw;
    cursor: pointer;
    background-color: rgba(var(--black), 0);
    transition: background-color 0.2s;
    width: 100%;
}

.selectInput .option:has(input:checked) {
    background-color: greenyellow; 
}

.selectInput .option:has(input:checked):hover {
    background-color: rgba(var(--dark-green), 1); 
}

.selectInput .option input:checked + label {
    font-weight: bold;
}

.selectInput .optionContainer .option label{
    cursor: pointer;
    width: 100%;
    display: block;
}

.selectInput .optionContainer .option input[type="radio"]{
    display: none;
}

.selectInput .optionContainer .option:hover{
    background-color: rgba(var(--black), 0.1);
}

.titleInputWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    border: 0.01vw solid rgba(var(--black), 0.2);
    font-size: var(--xs-fontsize);
    transition: background-color 0.2s, border 0.2s;
    background-color: rgba(var(--black), 0);
}

.titleInputWrapper input{
    border: none;
    font-size: var(--xs-fontsize);
    padding: 0.3vw 0.5vw;
    width: 100%;
    background-color: transparent;
    outline: none;
    position: relative;
}

.titleInputWrapper:has(input:focus){
    background-color: rgba(var(--black), 0.1);
    border: 0.01vw solid rgba(var(--black), 1); 
}

.titleInputWrapper:has(input:hover){
    border: 0.01vw solid rgba(var(--black), 1); 
}

.feedbackPage{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 0 1vw 0 2vw;
}

form .border{
    width: 0;
    height: 100%;
    border: 0.01vw solid rgba(var(--black), 0.5);
}

.feedbackPage form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    gap: 1.5vw;
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-bottom: 2vw;
}

.feedbackPage form .formTC{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1vw;
    width: 30vw;
    padding-top: 0.5vw;
    height: 100%;
    background-color: transparent;
}

.feedbackPage form .contentInput{
    width: 100%;
    height: 100% !important;
    flex: 1;
    background-color: transparent;
    height: 40vw;
    padding-top: 0.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1vw;
    background-color: transparent;
}

.feedbackPage form .sectionGuidance{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.sectionGuidance .steps{
    position: absolute;
    top: -1.7vw;
    left: 0;
    font-family: "Instrument Serif", serif;
    letter-spacing: 0.02em;
    font-size: 5.5vw;
    font-weight: 550;
    user-select: none;
    color: rgba(var(--black), 0.4);
    width: 2.2vw;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedbackPage form .faqCategory,
.feedbackPage form .feedbackTitle{
    padding-left: 2.5vw;
    padding-bottom: 2.5vw;
    width: 100%;
}

.sectionGuidance .sectionWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0;
    margin-left: 2.5vw;
}

.submitWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 1vw;
}

.submitWrapper button{
    outline: none;
    border: 0.1vw solid rgba(var(--black), 0);
    transition: border 0.2s, background-color 0.2s, color 0.2s;
    cursor: pointer;
    padding: 0.2vw 0.5vw;
    font-size: var(--xs-fontsize);
}

.submitWrapper .cancel{
    background-color: white;
    color: rgba(var(--black), 1);
    border: 0.1vw solid rgba(var(--black), 1);
}

.submitWrapper .cancel:hover{
    background-color: red;
    color: white;
    border: 0.1vw solid rgba(var(--black), 0);
}

.submitWrapper .submit{
    background-color: rgba(var(--black), 1);
    border: 0.1vw solid rgba(var(--black), 1);
    color: white;
}

.submitWrapper .submit:hover{
    background-color: greenyellow;
    color: rgba(var(--black), 1);
}

form .ql-editor{
    outline: none;
    max-height: 30vh;
    font-size: var(--p-fontsize);
}

form .ql-editor::-webkit-scrollbar{
    width: 0.3vw;
    z-index: 9999;
}

form .uploadBox::-webkit-scrollbar{
    height: 0.3vw;
    z-index: 9999;
}

form .ql-editor::-webkit-scrollbar-track,
form .uploadBox::-webkit-scrollbar-track{
    background: rgba(var(--black), 0.1);
}

form .ql-editor::-webkit-scrollbar-thumb,
form .uploadBox::-webkit-scrollbar-thumb{
    background: rgba(var(--black), 0.3);
}

form .ql-editor::-webkit-scrollbar-thumb:hover,
form .uploadBox::-webkit-scrollbar-thumb:hover{
    background: rgba(var(--black), 0.5);
}

form .uploadBoxWrapper{
    padding-left: 2.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 66vw;
    height: 100%;
    overflow: hidden;
}

form .uploadBox{
    width: 100%;
    background-color: rgba(var(--black), 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
    padding: 0.5vw 0;
    cursor: pointer;
    border: 0.01vw solid rgba(var(--black), 0.2);
    height: 13vh;
    flex-shrink: 0;
    transition: background-color 0.2s;
}

form .uploadBox.drag-active{
    background-color: rgba(var(--green-yellow), 0.2);
}

form .uploadBox p{
    color: rgba(var(--black), 0.5);
    user-select: none;
}

form .uploadBox p.hide{
    display: none;
}

.fileCardList{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5vw;
    height: max-content;
    width: max-content;
    outline: none;
    padding: 0 0.7vw;
}

.fileCardList.hide{
    display: none;
}

.fileCard .deleteFile svg{
    width: 1.5vw;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5;
    stroke: rgba(var(--tertiary-color), 0.7);
}

.fileCard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: auto;
    height: auto;
    background-color: white;
    padding: 1.5vh 0.2vw;
    border-radius: 0.2vw;
    gap: 0.2vw;
    position: relative;
    overflow: hidden;
    filter: brightness(100%);
    transition: filter 0.2s;
    flex-shrink: 0;
}

.fileCard:hover{
    filter: brightness(97%);
}

.fileCard .fileDetailWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden; 
}

.fileCard .fileName, 
.fileCard .fileSize{
    width: 5vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--xs-fontsize);
    text-align: center;
    background-color: transparent;
}

.fileCard .fileIcon{
    width: 2vw;
    height: 2vw;
    overflow: hidden;
    object-fit: contain;
    flex:0; 
}

.fileCard .fileIcon img{
    width: 2vw;
    height: 2vw;
}

.fileCard .deleteFile{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: rgba(var(--black), 0);
    width: 1vw;
    height: 1vw;
    margin: 0;
    transition: background-color 0.2s;
}

.fileCard .deleteFile:hover{
    background-color: rgba(var(--black), 0.2);
}

.fileCard .deleteFile svg{
    width: 1vw;
    stroke: rgba(var(--black), 1);
}

.fileCard .deleteFile:hover svg{
    stroke: rgba(var(--black), 1);
}

form .textAreaWrapper{
    width: 100%;
    padding-left: 2.5vw;
    padding-bottom: 3vw;
}

form .editor{
    outline: none;
    background-color: rgba(var(--black), 0);;
    transition: filter 0.2s;
    height: 30vh;
    max-height: 30vh;
    background-color: transparent;
    filter: brightness(100%);
    
}

form .editor:focus{
    filter: brightness(95%);
}

form .editor ol li:has(.ql-size-huge) .ql-ui{
    font-size: 2.5em;
}

form .editor ol li:has(.ql-size-large) .ql-ui{
    font-size: 1.5em;
}

form .editor ol li:has(.ql-size-small) .ql-ui{
    font-size: .75em;
}

.feedbackTitle #faqSuggestions {
    border: 0.01vw solid rgba(var(--black), 0.2);
    border-top: none;
    box-shadow: 0 0.55vw 1.2vw rgba(var(--black), 0.08);
    max-height: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
}

.feedbackTitle #faqSuggestions p:first-child{
    font-size: var(--xs-fontsize);
    padding: 0.3vw 0.5vw;
    
}

.feedbackTitle #faqSuggestions.visible {
    max-height: 16vw;
    
}

.feedbackTitle #faqSuggestions .suggestion {
    padding: 0.3vw 0.5vw;
    border-top: 0.05vw solid rgba(var(--black), 0.06);
    font-size: var(--xs-fontsize);
    width: 100%;
    color: rgba(var(--black), 1);
    text-decoration: none;
    filter: brightness(100%);
    transition: background-color 0.2s;
    background-color: rgba(var(--green-yellow), 0);
}

.feedbackTitle #faqSuggestions .suggestion:hover{
    background-color: rgba(var(--green-yellow), 0.1);
}

.feedbackTitle #faqSuggestions .suggestion:nth-child(2) {
    border-top: none;
}

.feedbackTitle #faqSuggestions .suggestion .suggestionTitle {
    width: 100%;
    font-size: var(--xs-fontsize);
    color: rgba(var(--black), 1);
    text-decoration: none;
}

.errorContainer{
    color: red;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 0.5vw;
    margin-top: 0.5vw;
}

.errorContainer .error{
    font-size: var(--xs-fontsize);
}

.errorContainer.hide{
    display: none;
}

#fileerr{
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}