main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.pageTitleWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 2vw;
    margin-top: 1vw;
}

.pageTitleWrapper .titleCat{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1vw;
}

.pageTitleWrapper .titleCat .cat,
.pageTitleWrapper .titleCat .stat{
    padding: 0.2vw 0.5vw;
    border-radius: 0.1vw;
    border: 0.01vw solid rgba(var(--black), 0.4);
    background-color: transparent;
    margin-bottom: 0.8vw;
    font-size: var(--xs-fontsize);
}

.pageTitleWrapper .titleCat .stat.open{
    background-color: rgba(var(--dark-green), 1);;
    border: none;
    color: white;
}

.pageTitleWrapper .titleCat .stat.in_progress{
    background-color: orange;
    border: none;
    color: white;
}

.pageTitleWrapper .titleCat .stat.resolved{
    background-color: lightskyblue;
    border: none;
    color: white;
}

.pageTitleWrapper .titleCat .stat.closed{
    background-color: grey;
    border: none;
    color: white;
}

.pageTitleWrapper .titleCat .stat.expired{
    background-color: red;
    border: none;
    color: white;
}

.reviewPage{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    gap: 2vw;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 0.5vw 1vw 2vw 2vw;
}

.ticketDetails{
    border: none;
    padding: 0;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1vw;
}

.userTimeWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5vw;
    font-size: var(--p-fontsize);
}

.userTimeWrapper .time{
    color: rgba(var(--black), 0.4);
    font-size: var(--xs-fontsize);
}

.ticketDetails .descContainer{
    padding: 0.6vw 1.5vw;
    border: 0.01vw solid rgba(var(--black), 0.4);
    width: 100%;
    overflow: hidden;
    font-size: var(--p-fontsize);
    line-height: 1.5;
}

.descContainer p, 
.descContainer ol, 
.descContainer ul {
    margin-top: 0;
    margin-bottom: 0.5vw; 
}

.descContainer > *:last-child {
    margin-bottom: 0;
}

.descContainer .ql-size-small{font-size:.75em}
.descContainer .ql-size-large{font-size:1.5em}
.descContainer .ql-size-huge{font-size:2.5em}
.descContainer li{
    font-size: 1em;
}

.descContainer p:has(img) img{
    width: auto;
    max-width: 20vw;
    height: auto;
}

.descContainer hr{
    margin-top: 2vw;
}

.descContainer .attList,
.comment .attList{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5vw;
    background-color: white;
    height: auto;
    width: 100%;
}

.comment .attList{
    background-color: transparent;
}

.descContainer .fileCard,
.comment .fileCard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: auto;
    height: auto;
    background-color: rgb(246, 247, 243);
    padding: 1.5vh 0.5vw;
    border-radius: 0.2vw;
    gap: 0.2vw;
    position: relative;
    overflow: hidden;
    filter: brightness(100%);
    transition: filter 0.2s;
    flex-shrink: 0;
    text-decoration: none;
}

.descContainer .fileCard:hover,
.comment .fileCard:hover{
    filter: brightness(97%);
}

.descContainer .fileCard .fileDetailWrapper,
.comment .fileCard .fileDetailWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden; 
}

.descContainer .fileCard .fileName, 
.comment .fileCard .fileName, 
.comment .fileCard .fileSize,
.descContainer .fileCard .fileSize{
    width: 5vw;
    
    font-size: var(--xs-fontsize);
    color: rgba(var(--black), 1);
    text-decoration: none;
    text-align: center;

    background-color: transparent;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-clamp: 2; 
    white-space: normal;
    word-break: break-all;
}

.descContainer .fileCard .fileIcon,
.comment .fileCard .fileIcon{
    width: 2vw;
    height: 2vw;
    overflow: hidden;
    object-fit: contain;
    flex:0; 
}

.descContainer .fileCard .fileIcon img,
.comment .fileCard .fileIcon img{
    width: 2vw;
    height: 2vw;
}

.rightCt{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.requestActions{
    height: 3vw;
    width: 100%;
}

.chatContainer{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: transparent;
    gap: 0;
    margin-top: 0;
    position: relative;
    z-index: 0;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: transform 0.2s;
    transform-origin: center;
}

.chatContainer.drag-active{
    transform: scale(0.96);
}

.chatContainer::after{
    content: 'Release to drop files';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(var(--green-yellow), 0.5);
    pointer-events: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--p-fontsize);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, 
        visibility 0 step-start;
}

.chatContainer.drag-active::after{
    visibility: visible;
    opacity: 1;
}

.chatContainer .configTitle{
    border: 0.01vw solid rgba(var(--black), 0.4);
    width: 100%;
    padding: 0.2vw 0.5vw;
    color: white;
    background-color: rgba(var(--black), 1);
}

.commentContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(var(--black), 0.1);
    border: 0.01vw solid rgba(var(--black), 0.4);
    width: 100%;
    height: 80vh !important;
    flex-shrink: 0;
    overflow: hidden;
    overflow-y: auto;
}

.messageWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: max-content;
    gap: 1vw;
    padding: 1vw;
}

.messageWrapper .chatTimeStamp{
    width: auto;
    font-size: var(--xs-fontsize);
    padding: 0.2vw 0.5vw;
    background-color: white;
    border-radius: 0.2vw;
    align-self: center;
    max-width: 7vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.messageWrapper .chatTimeStamp.empty{
    color: rgba(var(--black), 0.4);
    font-size: var(--xs-fontsize);
    user-select: none;
}

.messageWrapper .comment{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    gap: 0.5vw;
    position: relative;
    width: 100%;
}

.messageWrapper .comment.self{
    justify-content: flex-end;
}

.messageWrapper .comment .profileIcon{
    width: 1.75vw;
    height: 1.75vw;
    flex-shrink: 0;
}

.messageWrapper .comment .commentContent{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.2vw;
    margin-bottom: calc(1.75vw / 2);
    padding-left: 0.2vw;
    overflow: visible;
}

.messageWrapper .comment.self .commentContent{
    align-items: flex-end;
    padding-left: 0;
    padding-right: 0.2vw;
}

.messageWrapper .comment .commentContent .bubble{
    padding: 0.5vw;
    position: relative;
    z-index: 1;
    min-width: 7vw;
    max-width: 33vw;
    border-radius: 0.2vw 0.2vw 0.2vw 0;
    background-color: #CFCFCF;
}

.messageWrapper .comment.self .commentContent .bubble{
    background-color: #C2D5A3;
    border-radius: 0.2vw 0.2vw 0 0.2vw;
}

.messageWrapper .comment.admin .commentContent .bubble{
    background-color: orange;
}

.comment .commentContent .bubble:last-child::before{
    content: '';
    position: absolute;
    left: -0.5vw;
    bottom: 0vw;
    display: block;
    transform: scaleY(-1) skew(50deg) translateX(0.3vw);
    border: none;
    background-color: inherit;
    width: 0.6vw;
    height: 0.3vw;
    z-index: 1;
}

.comment.self .commentContent .bubble:last-child::before{
    right: 0.5vw !important;
    left: auto;
    transform: scaleY(1) skew(50deg) translateX(0.7vw);
}

.bubble p{
    text-align: justify;
    width: auto;
}

.bubble ol,
.bubble ol li{
    width: auto;
    list-style-position: inside;
}

.bubble ol li .ql-ui,
.bubble ol li{
    font-size: var(--p-fontsize);
}

.bubble ol li:has(.ql-size-huge) .ql-ui{
    font-size: 2.5em;
}

.bubble ol li:has(.ql-size-large) .ql-ui{
    font-size: 1.5em;
}

.bubble ol li:has(.ql-size-small) .ql-ui{
    font-size: .75em;
}

.bubble ol li[data-list="bullet"] {
    list-style-type: disc;
}

.bubble ol li[data-list="ordered"] {
  list-style-type: decimal;
}

.commentContent .bubble .user{
    display: none;
}

.commentContent .bubble:first-child .user{
    display: block;
    font-size: var(--p-fontsize);
}

.comment.self .commentContent .bubble:first-child .user{
    display: none;
}

.bubble p:has(img) img{
    width: auto;
    max-width: 10vw;
    height: auto;
}

.commentContent .bubble .time{
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 0.5vw;
}

.commentInputWrapper{
    width: 100%;
    min-height: 10vh;
    max-height: 25vh;
    border: 0.01vw solid rgba(var(--black), 0.4);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    background-color: rgba(var(--black), 0);
    transition: background-color 0.2s;
}

.commentInputWrapper.disabled{
    pointer-events: none;
    filter: brightness(70%);
}

.commentInputWrapper:has(.ql-editor:focus){
    background-color: rgba(var(--green-yellow), 0.05);
}

.commentInputWrapper #commentEditor{
    font-size: var(--xs-fontsize);
    width: 100%;
    height: auto;
    overflow: hidden;
    overflow-y: auto;
    flex-grow: 1;
}

.commentInputWrapper #commentEditor img{
    border: 0.01vw solid rgba(var(--black), 1);
    max-width: 10vw;
    height: auto;
}

.commentInputWrapper .controlWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    gap: 0.5vw;
    padding: 0.5vw
}

.controlWrapper .attComList{
    margin-left: 0;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5vw;
    overflow: hidden;
    max-width: 43vw;
    overflow-x: auto;
}

.controlWrapper .attComList::-webkit-scrollbar{
    height: 0.3vw;
    z-index: 9999;
}

.controlWrapper .attComList::-webkit-scrollbar-track{
    background: rgba(var(--black), 0.1);
}

.controlWrapper .attComList::-webkit-scrollbar-thumb{
    background: rgba(var(--black), 0.3);
}

.controlWrapper .attComList::-webkit-scrollbar-thumb:hover{
    background: rgba(var(--black), 0.5);
}

.controlWrapper .attComList .fileCard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5vw;
    padding: 0.3vw 0.5vw; 
    border-radius: 0.5vw;
    border: 0.01vw solid rgba(var(--black), 0.4);
    filter: brightness(100%);
    background-color: rgb(246, 247, 243);
    transition: filter .2s;
}

.controlWrapper .attComList .fileCard:hover{
    filter: brightness(95%);
}

.controlWrapper .attComList .fileCard .fileIcon{
    width: 1.5vw;
    height: auto;
    object-fit: contain;
    overflow: hidden;
}

.controlWrapper .attComList .fileCard .fileIcon img{
    width: 1.5vw;
    height: auto;
}

.controlWrapper .attComList .fileCard .fileDetailWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.controlWrapper .attComList .fileCard .fileDetailWrapper p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--xs-fontsize);
    max-width: 5vw;
}

.controlWrapper .attComList .fileCard .fileSize{
    color: rgba(var(--black), 0.4);
}

.controlWrapper .attComList .deleteFile{
    font-size: var(--h4-fontsize);
    width: 1vw;
    height: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
    position: relative;
}

.controlWrapper .attComList .deleteFile::after{
    content: '';
    position: absolute;
    width: 1.25vw;
    height: 1.25vw;
    background-color: rgba(var(--black), 0);
    transition: background-color 0.2s;
    transform: translateY(0.05vw);
    border-radius: 1vw;
}

.controlWrapper .attComList .deleteFile:hover::after{
    background-color: rgba(var(--black), 0.3);
}

.commentInputWrapper .sendIcon,
.commentInputWrapper .attachmentIcon{
    width: 1vw;
    height: 1vw; 
    object-fit: contain;
    flex-shrink: 0;
    margin: 0;
    cursor: pointer;
}

.commentInputWrapper .sendIcon svg,
.commentInputWrapper .attachmentIcon svg{
    fill: none;
    width: 100%;
    height: auto;
}

.commentInputWrapper .sendIcon svg path,
.commentInputWrapper .attachmentIcon svg path{
    stroke: rgba(var(--black), 1);
    stroke-width: 8;
}

.configContent .commentContainer .comment .userComment{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
}

.comment .userTimeWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5vw;
}

.comment .time{
    color: rgba(var(--black), 0.2);
}

.errorMessage{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: var(--xs-fontsize);
    color: red;
}