.functionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.functionHeader .userType{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5vw;
    border: 0.1vw solid rgba(var(--black), 1);
    position: relative;
    background-color: transparent;
}

.functionHeader .userType::before{
    content: '';
    position: absolute;
    height: 100%;
    z-index: 0;
    left: 0;
    background-color: greenyellow;
    transition: left 0.1s ease-in-out, width 0.1s ease-in-out;
}

.functionHeader .userType.admin::before,
.functionHeader .userType[data-role="admin"]::before{
    left: 0;
    width: 3.5vw;
}

.functionHeader .userType.lecturer::before,
.functionHeader .userType[data-role="lecturer"]::before{
    left: 3.94vw;
    width: 4.15vw;
}

.functionHeader .userType.student::before, 
.functionHeader .userType[data-role="student"]::before{
    left: 8.6vw;
    width: 3.95vw;
}

.functionHeader .userType button, 
#previewSection button,
.roleBtn{
    outline: none;
    border: none;
    padding: 0.3vw 0.5vw;
    font-size: var(--p-fontsize);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s, border .2s;
    background-color: transparent;
    z-index: 0;
    text-decoration: none;
}

.functionHeader .userType button.active{
    background-color: rgba(var(--black), 1);
    color: white;
    font-weight: 600;
}

.functionHeader .userType button:hover{
    background-color: rgba(var(--black), 0.1);
}

.managementContent{
    background-color: black;
    margin: 0 2vw 2vw 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 0.1vw solid rgba(var(--black), 1);
    overflow: hidden;
}

.managementContent .leftNav{
    background-color: rgba(var(--black), 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 8vw;
    overflow: hidden;
    height: 100%;
}

.managementContent .leftNav .leftNavItem{
    background-color: white;
    width: 100%;
    font-size: var(--p-fontsize);
    color: rgba(var(--black), 1);
    text-decoration: none;
    padding: 0.3vw 0.5vw;
    transition: background-color 0.2s;
}

.managementContent .leftNav .leftNavItem.active{
    background-color: greenyellow;
}

.managementContent .leftNav .leftNavItem:hover{
    background-color: rgba(var(--dark-green), 1); 
}

.managementContent .rightContent{
    padding: 0.3vw 2vw 0.3vw 1vw;
    flex: 1;
    min-height: 80vh;
    height: max-content;
    min-width: 0;
    background-color: white;
    border-left: 0.1vw solid rgba(var(--black), 1);
}

.managementContent .rightContent form{
    width: 100%;
    height: 100%;
}

.managementContent .rightContent table,
#previewSection table,
.crud table{
    width: 100%;
    border-collapse: collapse;
}

.managementContent .rightContent table thead,
#previewSection table thead,
.crud table thead{
    background-color: greenyellow;
    color: rgba(var(--black), 1);
    border-bottom: 0.1vw solid rgba(var(--black), 1);
}

.managementContent .rightContent table thead th,
#previewSection table thead th,
.crud table thead th{
    padding: 0.3vw 0.5vw;
    height: 1.3vw;
    font-size: var(--p-fontsize);
}

.managementContent .rightContent table tbody tr,
#previewSection table tbody tr,
.crud table tbody tr{
    width: 100%;
    border-bottom: 0.1vw solid rgba(var(--black), 0.4);
    background-color: white;
    transition: background-color 0.2s;
    height: 1.3vw;
}

.managementContent .rightContent table tbody tr:nth-child(even),
#previewSection table tbody tr:nth-child(even),
.crud table tbody tr:nth-child(even){
    background-color: rgba(var(--black), 0.1);
}

.managementContent .rightContent table tbody tr:last-child,
#previewSection table tbody tr:last-child,
.crud table tbody tr:last-child{
    border-bottom: 0.1vw solid rgba(var(--black), 1);
}

.managementContent .rightContent table tbody tr:hover,
#previewSection table tbody tr:hover,
.crud table tbody tr:hover{
    background-color: rgba(var(--dark-green), 0.1);
}

.managementContent .rightContent table tbody tr td,
#previewSection table tbody tr td,
.crud table tbody tr td{
    padding: 0.1vw 0.3vw;
    font-size: var(--p-fontsize);
    height: 2vw;
}

.managementContent .rightContent table thead tr .actionField{
    width: 5%;
}

.managementContent .rightContent table tbody tr .actionField{
    width: 5%;
}

tr td.actionField{
    height: 1px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.managementContent .rightContent table thead th.no-col{
    width: 5%;
    border-right: 0.1vw solid rgba(var(--black), 1);
    text-align: center;
}

.managementContent .rightContent table tbody tr td.number-cell {
    width: 5%;
    border-right: 0.1vw solid rgba(var(--black), 1);
    text-align: center;
}

#form-body,
#previewSection #tableBody{
    counter-reset: rowNumber;
}

#form-body tr,
#previewSection #tableBody tr{
    counter-increment: rowNumber;
}

#form-body td.number-cell::before,
#previewSection #tableBody td.number-cell::before{
    content: counter(rowNumber);
    font-weight: 400;
    color: rgba(var(--black), 0.6);
}

.managementContent .rightContent table tbody .inputWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.managementContent .rightContent table tbody .inputWrapper input{
    width: 100%;
    padding: 0.3vw 1.3vw 0.3vw 0.5vw;
    height: 1.3vw;
    font-size: var(--p-fontsize);
    border: none;
    outline: none;
    background-color: transparent;
}

.managementContent .rightContent table tbody .inputWrapper .clearBtn{
    position: absolute;
    right: 0.5vw;
    aspect-ratio: 1/1;
    outline: none;
    border: none;
    color: rgba(var(--black), 1);
    font-size: var(--p-fontsize);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.managementContent .rightContent table tbody tr .actionField .delete-btn{
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    font-size: var(--p-fontsize);
    background-color: rgba(var(--black), 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.managementContent .rightContent table tbody tr .actionField .delete-btn:hover{
    background-color: rgba(var(--dark-green), 1);
}

tr.adminUser td.f-nField,
tr.lecturerUser td.f-nField,
tr.studentUser td.f-nField,
.crud .f-nField{
    width: 20%;
    width: 20%;
}

tr.adminUser td.l-nField,
tr.lecturerUser td.l-nField,
tr.studentUser td.l-nField,
.crud .l-nField{
    width: 20%;
}

tr.adminUser td.emailField{
    width: 50%;
}

tr.lecturerUser td.emailField,
tr.studentUser td.emailField{
    width: 25%;
}

tr.lecturerUser td.departmentField,
tr.studentUser td.termField{
    width: 25%;
}

.selectInput{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 1.8vw;
}

.selectInput .selectedLabel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0.3vw 0.5vw;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: var(--p-fontsize);
    overflow: hidden;
}

.selectInput .selectedLabel label{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    max-width: 18vw;
}

.selectInput .selectedLabel span{
    width: 1vw;
    height: 1vw;
    transform: rotate(0);
    transition: transform 0.2s;
}

.selectInput .selectedLabel span svg{
    width: 1vw;
    height: 1vw;
    fill: none;
}

.selectInput.active .selectedLabel span{
    transform: rotate(180deg);
}

.selectInput .selectedLabel span svg path{
    stroke: rgba(var(--black), 1);
    stroke-width: 10;
}

.selectInput .optionContainer{
    position: absolute;
    top: 1.8vw;
    left: 50%;
    width: 0;
    max-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
    z-index: 99;
    border: 0.1vw solid rgba(var(--black), 1);
    opacity: 0;
    pointer-events: none;
    font-size: var(--p-fontsize);
}

.selectInput.active .optionContainer{
    opacity: 1;
    pointer-events: auto;
    animation: revealBorder 0.3s ease-in-out forwards;
}

.selectInput .optionContainer .option{
    padding: 0.3vw 0.5vw;
    cursor: pointer;
    background-color: rgba(var(--black), 0);
    transition: background-color 0.2s;
    width: 100%;
}

.selectInput .option:has(input:checked) {
    background-color: greenyellow; 
}

.selectInput .option:has(input:checked):hover {
    background-color: rgba(var(--dark-green), 1); 
}

.selectInput .option input:checked + label {
    font-weight: bold;
}

.selectInput .optionContainer .option label{
    cursor: pointer;
    width: 100%;
    display: block;
}

.selectInput .optionContainer .option input[type="radio"]{
    display: none;
}

.selectInput .optionContainer .option:hover{
    background-color: rgba(var(--black), 0.1);
}

.controls{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vw;
    gap: 1vw;
}

.errorMessage{
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60vw;
    overflow: hidden;
    gap: 0.2vw;
    padding-top: 0.2vw;
}

.errorMessage p{
    color: red;
    font-size: var(--p-fontsize);
    white-space: pre-wrap;
}

.controls .controlWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;
}

.controls .numInputWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.1vw;
}

.controls .numInputWrapper button{
    height: 1.5vw;
    width: 1.5vw;
    outline: none;
    border: 0.1vw solid rgba(var(--black), 0);
    background-color: transparent;
    font-size: var(--p-fontsize);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.controls .numInputWrapper button:hover{
    background-color: rgba(var(--black), 0.1);
}

.controls input{
    border: 0.1vw solid rgba(var(--black), 1);
    padding: 0.3vw 0.5vw;
    font-size: var(--p-fontsize);
}

.controls input::-webkit-outer-spin-button,
.controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.controls #add-row-btn, 
.controls .save-btn{
    outline: none;
    border: 0.1vw solid rgba(var(--black), 0);
    padding: 0.3vw 0.5vw;
    font-size: var(--p-fontsize);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s, border 0.2s;
    width: max-content;
}

.controls #add-row-btn{
    color: rgba(var(--black), 1);
    background-color: greenyellow;
    margin-left: -0.5vw;
}

.controls #add-row-btn:hover{
    background-color: rgba(var(--dark-green), 1);
}

.controls .save-btn{
    color: white;
    background-color: rgba(var(--black), 1);
}

.controls .save-btn:hover{
    color: rgba(var(--black), 1);
    background-color: white;
    border: 0.1vw solid rgba(var(--black), 1);
}

.bulk{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 0.5vw;
}

.instructions{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 0.5vw;
    list-style-position: inside;
}

.instructions ul{
    list-style-position: inside;
    font-size: var(--p-fontsize);
    color: red;
}

.dropZone{
    width: 100%;
    height: 10vh;
    padding: 1vw;
    border: 0.1vw solid rgba(var(--black), 0.6);
    background-color: rgba(var(--black), 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transform: scale(1);
    transform-origin: center;
    transition: background-color .2s, transform .2s, border .2s;
    z-index: 0;
    position: relative;
    margin-bottom: 2vw;
}

.dropZone:hover{
    background-color: rgba(var(--black), 0.2);
}

.dropZone.active{
    border: 0.1vw solid rgba(var(--green-yellow), 0.6);
    background-color: rgba(var(--green-yellow), 0.1);
    transform: scale(0.95);
    color: rgba(var(--dark-green), 1);
}

.dropZone.hidden,
#previewSection.hidden{
    display: none;
}

#previewSection{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    gap: 0.5vw;
}

#previewSection .previewTitle{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#previewSection #clearFile{
    border: 0.01vw solid red;
    color: red;
    background-color: white;
}

#previewSection #clearFile:hover{
    background-color: red;
    color: white;
}

#previewSection #submitBtn{
    background-color: greenyellow;
    border: 0.01vw solid rgba(var(--black), 1);
    color: rgba(var(--black), 1);

}

#previewSection #submitBtn:hover{
    border: 0.01vw solid rgba(var(--black), 0);
    color: greenyellow;
    background-color: rgba(var(--black), 1);
}

#bulkCreateForm{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 0.5vw
}

.functionHeader .titleWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5vw;
}

.roleBtn{
    color: rgba(var(--black), 1);
}