{% extends 'auth.html' %}

{% block title %} Reset Password {% endblock %}

{% block form_content %}
    {% if validlink %}
    <form method="post" id="password-reset">
        {% csrf_token %}
        <h3>Set New Password</h3>

        <div class="input-field new-password">
            <div class="placeholder">
                New Password
            </div>
            {{ form.new_password1 }}
        </div>
    
        <div class="input-field confirm-new-password">
            <div class="placeholder">
                Confirm New Password
            </div>
            {{ form.new_password2 }}
        </div>
        
        <div class="helperText">
            <ul>
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>
        </div>

        <div class="formFooter">
            <div id="errorMessageContainer">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}

                    {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if messages %}
                    {% for message in messages %}
                        {% if "error" in message.tags %}
                            <p>{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <button type="submit" id="sendCodeButton">Set Password</button>
        </div>
    </form>
    {% else %}
        <div class="error-container">
            <h3>Invalid Link</h3>
            {% if is_new_user %}
                <p>Your invitation link to the Smart Campus Management System has expired or is invalid.</p>
                <p>Please contact the <strong>IT Helpdesk</strong> or your Department Head to request a new invitation email.</p>
                <div class="contact-box">
                    <p>📧 Email: it-support@campus.edu</p>
                </div>
            {% else %}
                <p>The password reset link was invalid, possibly because it has already been used or has expired.</p>
                <a href="{% url 'password_reset' %}" class="sendAgain">Request a new reset link</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}