{% extends "base.html" %} 

{% load static %}  

{% block title %} Dashboard {% endblock %}

{% block extra_head %}
    
{% endblock %}

{% block content %}
<div class="dashboard">
    <h1>Admin</h1>
    <section class="suportTicketInfo">
        <div class="mytickets">
            <span>Total Resolved Tickets:</span>
        </div>
        <div class="mypendingtickets">
            <span>My Pending Tickets:</span>
        </div>
        <div class="ticketOverview">
            <div class="percentage">10%</div>
        </div>
    </section>
</div>
{% endblock %} 

<!-- {% block background_scripts %}
{% endblock %} -->

{% block extra_scripts %}
{% endblock %} 
