{% for a in news_list %}
    <div class="newsRow">
        <div class="newsInfo">
            <p class="subject">{{ a.subject }}</p>
            <div class="info">
                <span class="date">{{ a.date_published|date:"d M Y" }}</span>
                <div class="visibleClass">
                    {% with target=a.targets.all.0 %}
                        {% if target.is_for_students %}<span class="tag">Students</span>{% endif %}
                        {% if target.is_for_lecturer %}<span class="tag">Lecturers</span>{% endif %}
                        {% if target.is_for_admins %}<span class="tag">Admins</span>{% endif %}
                        {% if target.is_visitor_visible %}<span class="tag">Visitors</span>{% endif %}
                        {% if target.academic_term %}
                        {% for intake in target.intake %}
                                <span class="tag">{{ intake }}</span>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="actions">
            <a href="{% url 'announcements_edit' a.pk %}">Edit</a>
            <form action="{% url 'announcement_delete' a.pk %}?news_page={{ current_news_page }}&banner_page={{ current_banner_page }}" method="POST" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this post?');">
                {% csrf_token %}
                <button type="submit" class="delete-btn">Delete</button>
            </form>
        </div>
    </div>
{% empty %}
    <p>No normal news found.</p>
{% endfor %}