<h2>Student List</h2>

{% if student_rows %}
	<table>
		<thead>
		<tr>
			<th class="no-col">No.</th>
			<th class="id">Student ID</th>
			<th class="name">Student Name</th>
			<th class="action"></th>
		</tr>
		</thead>

		<tbody>
		{% for row in student_rows %}
		<tr data-status="{{ row.status|lower }}">
			<td class="number-cell"></td>

			<td>{{ row.student.student_profile.tp_id }}</td>

			<td>
			{% if row.student.first_name or row.student.last_name %}
				{{ row.student.first_name }} {{ row.student.last_name }}
			{% else %}
				{{ row.student.username }}
			{% endif %}
			</td>

			<td>
			<form class="mark-attendance-form action-buttons" method="post"
			data-url="{% url 'attendance_lecturer_otp' class_event.id %}" id="markStudentAttendance">
				{% csrf_token %}
				<input type="hidden" name="action" value="mark_attendance">
				<input type="hidden" name="student_id" value="{{ row.student.id }}">

				<button type="submit" name="status" value="PRESENT" class="mark-btn present-btn">
				Present
				</button>
				<button type="submit" name="status" value="LATE" class="mark-btn late-btn">
				Late
				</button>
				<button type="submit" name="status" value="ABSENT" class="mark-btn absent-btn">
				Absent
				</button>
			</form>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% else %}
	<div class="student-list-empty">
	No students found.
	</div>
{% endif %}