{% extends 'auth.html' %}

{% block form_content %}
    <form id="step-form" data-next-step="2" method="post">
        {% csrf_token %}
        <h3>Verify your Email</h3>
        {{ form.as_p }}

        <div class="formOptions">
            <a class="return-login" href="{% url 'login' %}">Back to Login →</a>
        </div>

        <div class="formFooter">
            <p id="errorMessage">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, officia.</p>
            <button type="submit" id="sendCodeButton">Send Code</button>
        </div>
    </form>
{% endblock %}
