{% extends 'auth.html' %}

{% block form_content %}
    <form id="step-form" data-finish="true" method="post">
        {% csrf_token %}
        <h3>Enter New Password</h3>
        
        {{ form.as_p }}
        

        <div class="formOptions">
            <a class="return-login" href="{% url 'login' %}">Back to Login →</a>
        </div>

        <div class="formFooter">
            <p id="errorMessage">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, officia.</p>
            <button type="submit" id="sendCodeButton">Reset Password</button>
        </div>
    </form>
{% endblock %}