{% extends "base.html" %} 
{% load static %}  
{% block title %}My Bookings{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
{% endblock %}

{% block content %}
<div class="bookingList facilityStatus"> 
    <div class="sectionHeader">
        <h2 class="fw-bold">Facility Status</h2>
        <a href="{% url 'admin_dashboard' %}" class="requestBooking">Back to Dashboard</a>
    </div>

    <form method="GET" class="searchWrapper">
        <div class="searchBar">
            <label for="date" class="formLabel" style="margin: 0 0.5vw; white-space: nowrap;">Select Date:</label>
            <input type="date" id="date" name="date" value="{{ selected_date }}" onchange="this.form.submit()">
        </div>
        <button type="submit" class="searchBtn">View</button>
    </form>

    <div class="tableWrapper">
        <table class="mybookingTable"> <thead>
                <tr>
                    <th class="facility">Facility</th>
                    <th class="type">Type</th> 
                    <th class="status">Status</th>
                    <th class="slots">Booked Time Slots</th> </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.facility.facility_name }}</td>
                    <td>{{ item.facility.type }}</td>
                    <td>
                        <span class="statusBadge 
                            {% if item.status == 'Available' %} approved 
                            {% elif item.status == 'Booked' %} pending 
                            {% else %} rejected {% endif %}">
                            {{ item.status }}
                        </span>
                    </td>

                    <td>
                        {% if item.bookings %}
                            {% for b in item.bookings %}
                                <div style="font-size: var(--xs-fontsize);">
                                    {{ b.start_time|time:"h:i a" }} - {{ b.end_time|time:"h:i a" }}
                                </div>
                            {% endfor %}
                        {% else %}
                            <span class="emptyPurpose">-</span>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="noResults">No facilities found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}