{% extends "base.html" %} 
{% load static %}  
{% block title %}My Bookings{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
{% endblock %}

{% block content %}
<div class="myBookings">
    <div class="sectionHeader">
        <h2 class="">My Bookings</h2>
        <a href="{% url 'facility_list' %}" class="requestBooking">Request Facility Booking</a>
    </div>

    <div class="tableWrapper">
        <table class="mybookingTable">
            <thead>
                <tr>
                    <th class="facility">Facility</th>
                    <th class="date">Date</th>
                    <th class="start">Start</th>
                    <th class="end">End</th>
                    <th class="status">Status</th>
                    {% if any_can_cancel %}
                        <th class="action">Action</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
            {% for b in bookings %}
            <tr>
                <td>{{ b.facility.facility_name }}</td>
                <td>{{ b.booking_date }}</td>
                <td>{{ b.start_time|time:"h:i a" }}</td>
                <td>{{ b.end_time|time:"h:i a" }}</td>

                <td>
                    <span class="statusBadge
                        {% if b.status == "Approved" %}
                        approved
                        {% elif b.status == "Pending" %}
                        pending
                        {% elif b.status == "Rejected" %}
                        rejected
                        {% elif b.status == "Cancelled" %}
                        cancelled
                        {% elif b.status == "Expired" %}
                        expired
                        {% else %}
                        error
                        {% endif %}
                    ">
                        {{ b.status }}
                    </span>
                </td>
                {% if any_can_cancel %}
                    <td>
                        {% if b.can_cancel %}
                            <button type="button" class="cancelBtn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#cancelModal"
                                    data-booking-url="{% url 'cancel_booking' b.booking_id %}">
                                Cancel
                            </button>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>

            {% empty %}
            <tr>
                <td colspan="{% if any_can_cancel %}6{% else %}5{% endif %}" class="noResults">
                    No bookings found
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<div class="popups" id="cancelModal" tabindex="-1">
    <div class="modal-dialog">
        <div class=" customModalContent">
            <div class="modalHeader">
                <h5 class="modalTitle" id="cancelModalLabel">Confirm Cancellation</h5>
                <button type="button" class="closeModalBtn" data-bs-dismiss="modal" aria-label="Close">✕</button>
            </div>

            <div class="modalBody">
                <p>Are you sure you want to cancel this booking?</p>
                <p class="modalSubtitle">This action cannot be undone.</p>
            </div>

            <div class="modalFooter">
                <button type="button" class="searchBtn" data-bs-dismiss="modal">
                    Close
                </button>
                <a href="#" id="confirmCancelBtn" class="cancelBtnAction">
                    Yes, Cancel
                </a>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const cancelModal = document.getElementById("cancelModal");
        const confirmCancelBtn = document.getElementById("confirmCancelBtn");

        document.addEventListener("click", function (event) {
            const button = event.target.closest('.cancelBtn');
            
            if (button) {
                const bookingUrl = button.getAttribute("data-booking-url");
                confirmCancelBtn.setAttribute("href", bookingUrl);
                cancelModal.classList.add("active");
            }
        });
        document.addEventListener("click", function (event) {
            if (event.target.closest('[data-bs-dismiss="modal"]')) {
                cancelModal.classList.remove("active");
            }
            
            if (event.target === cancelModal) {
                cancelModal.classList.remove("active");
            }
        });
    });    
</script>
<script src="{% static 'js/booking.js' %}"></script>
{% endblock %} 