{% extends "base.html" %} 
{% load static %}  
{% block title %}Review Booking Requests{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
{% endblock %}

{% block content %}
<div class="reviewBooking">
    <div class="sectionHeader">
        <h2 class="">Review Booking Requests</h2>
    </div>

    <div class="tableWrapper">
        <table>
            <thead>
                <tr>
                    <th class="no-col">No.</th>
                    <th class="code">Code</th>
                    <th class="role">Role</th>
                    <th class="facility">Facility</th>
                    <th class="date">Date</th>
                    <th class="start">Start</th>
                    <th class="end">End</th>
                    <th class="purpose">Purpose</th>
                    <th class="status">Status</th>
                    {% if any_pending %}
                        <th class="action">Action</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for item in booking_data %}
                <tr>
                    <td class="number-cell"></td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.role }}</td>
                    
                    <td>{{ item.booking.facility.facility_name }}</td>
                    <td>{{ item.booking.booking_date }}</td>
                    <td>{{ item.booking.start_time|time:"h:i a" }}</td>
                    <td>{{ item.booking.end_time|time:"h:i a" }}</td>
                    <td><label>
                        <p {% if not item.booking.purpose %}class="emptyPurpose"{% endif %}>
                            {% if item.booking.purpose %}
                                {{ item.booking.purpose }}
                            {% else %}
                                **No purpose specified**
                            {% endif %}
                        </p>
                    </label></td>
                    <td>
                        <span class="statusBadge
                            {% if item.booking.status == "Approved" %}
                            approved
                            {% elif item.booking.status == "Pending" %}
                            pending
                            {% elif item.booking.status == "Rejected" %}
                            rejected
                            {% elif item.booking.status == "Cancelled" %}
                            cancelled
                            {% elif item.booking.status == "Expired" %}
                            expired
                            {% else %}
                            error
                            {% endif %}
                        ">
                            {{ item.booking.status }}
                        </span>
                    </td>

                    {% if any_pending %}
                    <td class="action"> 
                        {% if item.booking.status == "Pending" %}
                        <div style="display: flex; gap: 0.2vw; height: 1.7vw;">
                            <a href="{% url 'approve_booking' item.booking.booking_id %}" class="bookBtn" id="approveBtn">
                                Approve
                            </a>
                            <a href="{% url 'reject_booking' item.booking.booking_id %}" class="cancelBtn" id="rejectBtn">
                                Reject
                            </a>
                        </div>
                        {% else %}
                            <span class="emptyPurpose">-</span>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="{% if any_pending %}10{% else %}9{% endif %}" class="noResults">
                        No booking requests found
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/booking.js' %}"></script>
{% endblock %} 
