{% extends "base.html" %} 
{% load static %}  
{% load chat_extras %}
{% block title %}Announcements{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/ann_manage.css' %}">
{% endblock %}

{% block content %}
    <div class="manageAnn">
        <div class="pageHeader">
            <div class="pageTitle"><h2>Manage Announcement</h2></div>
            <div class="pageSubtitle"><p>Create, edit, and control campus announcements.</p></div>
        </div>
        <section class="newsContainer">
            <div class="sectionHeader">
                <div class="sectionTitle"><h3>Normal News</h3></div>
                <div class="sectionControls">
                    {% if show_news_pagination %}
                        <div class="displayControl" data-current-page = "{{ current_news_page }}" data-max-pages="{{ max_news_pages }}" id="news_currentPage">
                            <input type="hidden" id="maxNewsPages" name="maxNewsPages" value="{{ max_news_pages }}">
                            <div class="pageWrapper">
                                <button class="previous pageBtn"
                                    {% if current_news_page == 1 %}
                                        disabled
                                    {% endif %}
                                >&laquo;</button>
                                    
                                <div class="pageNumbers">
                                    {{ current_news_page }} / {{ max_news_pages }}
                                </div>

                                <button class="next pageBtn"
                                    {% if current_news_page == max_news_pages %}
                                        disabled
                                    {% endif %}
                                >&raquo;</button>
                            </div>
                        </div>
                    {% endif %}
                    <a class="createBtn" href="{% url "announcements_form" %}?type=NORMAL" target="_blank">+</a>
                </div>
            </div>
            <div class="newsList" id="newsContainer">
                {% include "partials/announcement_list_partial.html" %}
            </div>
        </section>
        <hr>
        <section class="bannerContainer">
            <div class="sectionHeader">
                <div class="sectionTitle"><h3>Banners</h3></div>
                <div class="sectionControls">
                    {% if show_banner_pagination %}
                        <div class="displayControl" data-current-page = "{{ current_banner_page }}" data-max-pages="{{ max_banner_pages }}" id="banner_currentPage">
                            <input type="hidden" id="maxBannerPages" name="maxBannerPages" value="{{ max_banner_pages }}">
                            <div class="pageWrapper">
                                <button class="previous pageBtn"
                                    {% if current_banner_page == 1 %}
                                        disabled
                                    {% endif %}
                                >&laquo;</button>
                                    
                                <div class="pageNumbers">
                                    {{ current_banner_page }} / {{ max_banner_pages }}
                                </div>

                                <button class="next pageBtn"
                                    {% if current_banner_page == max_banner_pages %}
                                        disabled
                                    {% endif %}
                                >&raquo;</button>
                            </div>
                        </div>
                    {% endif %}
                    <a class="createBtn" href="{% url "announcements_form" %}?type=BANNER" target="_blank">+</a>
                </div>
            </div>
            <div class="bannerList" id="bannerContainer">
                {% include "partials/banner_list_partial.html" %}
            </div>
        </section>
    </div> 
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/ann_manage.js' %}"></script>
{% endblock %} 