{% extends "base.html" %} 

{% load static %}  

{% block title %} Academic Management {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/academic_management.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock %}

{% block content %}
    <h1 class="pageTitle">Academic Management</h1>
    <div class="managementContent">
        <div class="leftNav">
            <a class="leftNavItem {% if request.resolver_match.url_name == 'student_enrollment' %}active{% endif %}" href="">
                Student Enrollment
            </a>
            <a class="leftNavItem {% if request.resolver_match.url_name == 'manage_academic_term' %}active{% endif %}" href="{% url 'manage_academic_term'%}">
                Academic Term Management
            </a>
            <a class="leftNavItem {% if request.resolver_match.url_name == 'manage_courses' %}active{% endif %}" href="">
                Courses management
            </a>
            <a class="leftNavItem {% if request.resolver_match.url_name == 'manage_departments' %}active{% endif %}" href="">
                Departments management
            </a>
            <a class="leftNavItem {% if request.resolver_match.url_name == 'manage_rules' %}active{% endif %}" href="">Academic Rules</a>
            <a class="leftNavItem {% if request.resolver_match.url_name == 'manage_subjects' %}active{% endif %}" href="">Subjects</a>
            <a class="leftNavItem {% if request.resolver_match.url_name == 'manage_timetable' %}active{% endif %}" href="">TimeTable</a>
        </div>
        <div class="rightContent">
            {% block function_window %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/academic_management.js' %}"></script>
    <script id="server-errors" type="application/json">
        {{ form.errors.as_json|safe }}
    </script>
{% endblock %} 