{% extends "base.html" %}
{% load static %}

{% block title %} Attendance Session OTP {% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/attendance.css' %}">
{% endblock %}

{% block content %}
<div class="otpPage">
	<div class="past-page-header">
		<h2>{{ subject_name }}-{{ intake_code }}</h2>

		{% if show_return_to_past and return_to_past_url %}
			<a href="{{ return_to_past_url }}" class="back-btn">
				Return to Past Sessions
			</a>
		{% endif %}
	</div>

	<div id="attendance-pie-wrapper" 
		data-url="{% url 'attendance_pie_partial' class_event.id %}"
		data-student-url="{% url 'attendance_student_list_partial' class_event.id %}"
		class="chartWrapper"
	>
		{% include "partials/attendance_pie_chart.html" %}
	</div>
	
	<div class="formWrapper" data-session="{% if session and session.is_open %}open{% else %}close{% endif %}">
		<form method="post" id="open">
			{% csrf_token %}
			<input type="hidden" name="action" value="open_session">
			<button type="submit" class="gen">Generate OTP</button>
		</form>

		<form method="post" action="{% url 'close_attendance_session' class_event.id %}" id="close" data-url="{% url 'close_attendance_session' class_event.id %}">
			{% csrf_token %}
			<button type="submit" class="rem"
			onclick="return confirm('Are you sure you want to close the attendance session?')">
			Close Attendance
			</button>
		</form>
	</div>

	<hr>

	<div id="attendance-student-list-wrapper" data-url="{% url 'attendance_student_list_partial' class_event.id %}">
		{% include "partials/attendance_student_list.html" with class_event=class_event %}
	</div>
</div>
{% endblock %}

{% block background_scripts %}
	<script>
		const closeUrl = "{% url 'close_attendance_session' class_event.id %}";
	</script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="{% static 'js/attendance_otp.js' %}"></script>
{% endblock %}