{% extends "base.html" %} 

{% load static %}  

{% block title %} Attendance {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/attendance.css' %}">
{% endblock %}

{% block content %}

{% if user_role == 'student' %}
    <div class="attendance-container student">
        <section class="past">
            <div class="headerFlex">
                <h2>Attendance Analytics</h2>
            </div>

            {% if semesters %}
                <div class="intakeWrapper">
                    {% for sem in semesters %}
                        <div class="past-card">
                            <div class="past-card-header">
                                <span><strong>Semester {{ sem.semester_number }}</strong></span>
                                <span class="semRate">Average: {{ sem.semester_rate }}%</span>
                            </div>

                            {% for subj in sem.subjects %}
                                <div class="past-subject-row"
                                    onclick="location.href='{% url 'subject_session' intake_code=intake_code subject_id=subj.subject_id %}'">
                                    
                                    <div class="past-subject-left">
                                        <span class="subjectTitle">
                                            <strong>{{ subj.subject_code }} - {{ subj.subject_name }}</strong>
                                        </span>
                                        <div class="subjectStats">
                                            <span>Present: {{ subj.present_count }} / {{ subj.total_sessions }}</span>
                                        </div>
                                    </div>

                                    <div class="past-subject-right">
                                        <span class="percentBadge {% if subj.percentage < 80 %}lowAttendance{% else %}highAttendance{% endif %}">
                                            {{ subj.percentage }}%
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="today-card no-class">
                    <span>No attendance records found for your enrollment ({{ intake_code }}).</span>
                </div>
            {% endif %}
        </section>

        <div class="overallBox">
            <h3>Overall Attendance</h3>
            <div class="rateWrapper">
                <div class="progress" data-rate="{{overall_rate}}">
                    <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMax meet">
                        <g>
                            <circle id="background" cx="50%" cy="50%" r="40"/>
                            <circle id="circle_absent" cx="50%" cy="50%" r="40" />
                            <circle id="circle_present" cx="50%" cy="50%" r="40" />
                        </g>
                    </svg>
                </div>
                <h2>{{ overall_rate }}%</h2>
            </div>

            <span class="sessionCount">{{total_present}} / {{ total_sessions }}</span>
            <span class="intake_code">{{intake_code}}</span>
            <a class="signup-btn" href="{% url 'attendance_signup' %}">
                Sign up Attendance
            </a>
        </div>
    </div>

{% elif user_role == 'lecturer' %}
    <div class="pageTitle">
        <h2>Attendance Management</h2>
    </div>
    <div class="attendance-container">
        <section class="current">
            <h3>Active & Upcoming Classes</h3>

            <div class="cardWrapper">
                {% if today_classes %}
                    {% for cls in today_classes %}
                    <div class="today-card">
                        <span class="classSubject">
                            {{ cls.subject_component.subject.subject_code }} - 
                            {{ cls.subject_component.subject.subject_name }}
                        </span>

                        <div class="cardInfoWrapper">
                            <div class="today-card-info">
                                <p><strong>Time:</strong> {{ cls.session.start_time|time:"h:i a" }} - {{ cls.session.end_time|time:"h:i a" }}</p>
                                <p><strong>Classroom:</strong>
                                    {{ cls.session.facility.facility_name }}
                                </p> 
                                {% if cls.term %}
                                    <p><strong>Intake:</strong> {{ cls.term.intake_code }}</p>
                                {% endif %}
                            </div>

                            <a href="javascript:void(0);" 
                                onclick="document.getElementById('auto-open-form-{{ cls.id }}').submit();"class="today-btn">
                                Open Attendance Session
                            </a>

                            <form id="auto-open-form-{{ cls.id }}" 
                                action="{% url 'attendance_lecturer_otp' cls.id %}" 
                                method="POST" 
                                style="display: none;">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="open_session">
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="today-card no-class">
                        <span>No class today</span>
                        <p>You have no classes scheduled for today.</p>
                    </div>
                {% endif %}
            </div>
        </section>

        <section class="past">
            <h3>Previous Attendance Records</h3>
            {% if grouped_past %}
                <div class="intakeWrapper">
                    {% for intake in grouped_past %}
                    <div class="past-card">
                        <div class="past-card-header">
                            <span><strong>{{ intake.intake_code }}</strong> - {{ intake.course_name }}</span>
                        </div>

                        {% for subj in intake.subjects %}
                        <div class="past-subject-row">
                            <div class="past-subject-left">
                                <span>
                                    <strong>{{ subj.subject_code }} - {{ subj.subject_name }}</strong>
                                </span>
                                <span>
                                    Classes: {{ subj.classes|length }}
                                </span>
                            </div>

                            <a href="{% url 'subject_session' intake.intake_code subj.subject_id %}" class="today-btn">
                                Manage Sessions
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="today-card no-class">
                    <span>No past sessions available.</span>
                </div>
            {% endif %}
        </section>
    </div>
{% endif %}

{% endblock %}


{% block background_scripts %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    const acc = document.getElementsByClassName("accordion");

    for (let i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
        const panel = this.nextElementSibling;
        const icon = this.querySelector(".acc-icon");

        if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
            if (icon) icon.textContent = "+";
        } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
            if (icon) icon.textContent = "–";
        }
        });
    }

    const progressContainer = document.querySelector('.progress');
    if(progressContainer) {
        const rate = parseFloat(progressContainer.dataset.rate);

        const radius = 40;
        const circumference = 2 * Math.PI * radius;
        
        const presentCircle = document.getElementById('circle_present');
        const absentCircle = document.getElementById('circle_absent');

        const offset = circumference - (rate / 100) * circumference;


        if(presentCircle && absentCircle){
            presentCircle.style.strokeDasharray = circumference;
            presentCircle.style.strokeDashoffset = offset;

            absentCircle.style.strokeDasharray = circumference;
            absentCircle.style.strokeDashoffset = 0;
        }
    }
});
</script>
{% endblock %}