{% extends "base.html" %}
{% load static %}

{% block title %} Lecturer OTP {% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/attendance.css' %}">
{% endblock %}

{% block content %}
  <div class="otp-card">
  <h2>Lecturer: Generate OTP</h2>

  <form method="post">
    {% csrf_token %}
    <button class="signup-btn" type="submit">Generate New OTP</button>
  </form>

  {% if session %}
    <div class="otp-box">
      <p><strong>OTP:</strong> <span class="otp-code">{{ session.otp }}</span></p>
      <p class="muted">Expires at: {{ session.expires_at }}</p>
    </div>
  {% else %}
    <p class="muted">No active OTP session.</p>
  {% endif %}
  </div>

  <div style="max-width:420px;margin-top:20px;">
  <canvas id="attendancePie"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const ctx = document.getElementById('attendancePie');

new Chart(ctx, {
  type: 'pie',
  data: {
    labels: ['Present', 'Late', 'Absent'],
    datasets: [{
      data: [{{ present }}, {{ late }}, {{ absent }}],
      backgroundColor: [
        '#4CAF50',
        '#FFC107',
        '#f52314'
      ]
    }]
  }
});
</script>
{% endblock %}