{% extends "base.html" %} 

{% load static %}  

{% block title %} Attendance {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/attendance.css' %}">
{% endblock %}

{% block content %}
    <h2>Attendance Dashboard</h2>
<div class="attendance-container">
<div class="student-box">
    <hr>
    <h5><strong>Name:</strong> {{student.name}}</h5>
    <p><strong>Intake Code:</strong> {{student.intake_code}}</p>
    <hr>
</div>

<div class="overall-box">
    <h2>Overall Attendance</h2>
    <h3>{{overall_percentage}}%</h3>

   <a class="signup-btn" href="{% url 'attendance_signup' %}">
    <h3>Sign up Attendance</h3>
   </a>
</div>

<div class="current-sem-box">
    <div class="sem-header">
    <h2>Current Semester: {{current_sem}}</h2>
    {% for course in current_courses %}
        <div class="course-card">
            <h4>{{ course.name }}</h4>
            <p>{{ course.percentage }}%</p>

             <div class="bar">
                 <div class="bar-fill 
                     {% if course.percentage < 80 %}
                         low
                     {% else %}
                         good
                     {% endif %}
                 "
                 style="width: {{ course.percentage }}%;">
                 </div>
             </div>

        </div>
{% empty %}
        <p>No courses in current semester.</p>
{% endfor %}
    </div>
    
    <div class="sem-stats">
        <p>Semester Attendance: <strong>{{sem_percentage}}%</strong></p>
    </div>

    <hr class="thick-line">

</div>

<div class="previous-sem-box">
    <h2>Previous Semesters</h2>

    {% for sem_data in previous_sem_data %}
        <div class="semester-group">
            <button class="accordion" type="button">
                Semester {{ sem_data.semester }}
                <span class="acc-icon">+</span>
            </button>

            <div class="panel">

                {% for course in sem_data.courses %}
                    <div class="course-card">
                        <h4>{{ course.name }}</h4>
                        <p>{{ course.percentage }}%</p>

                    <div class="bar">
                        <div class="bar-fill {% if course.percentage < 80 %}low{% else %}good{% endif %}"style="width: {{ course.percentage }}%;"></div>
                    </div>
                    </div>
                {% endfor %}

                <div class="sem-stats">
                    <p>Semester Attendance:
                        <strong>{{ sem_data.percentage }}%</strong>
                    </p>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No previous semesters.</p>
    {% endfor %}
</div>
    
</div>
{% endblock %}



{% block background_scripts %}
<script>
document.addEventListener("DOMContentLoaded", function () {
  const acc = document.getElementsByClassName("accordion");

  for (let i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      const panel = this.nextElementSibling;
      const icon = this.querySelector(".acc-icon");

      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
        if (icon) icon.textContent = "+";
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
        if (icon) icon.textContent = "–";
      }
    });
  }
});
</script>
{% endblock %}