{% extends "base.html" %} 

{% load static %}  

{% block title %} User Management {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/user_management.css' %}">
{% endblock %}

{% block content %}
    <h1 class="pageTitle">User Management</h1>
    <div class="managementContent">
        <div class="leftNav">
            <a class="leftNavItem {% if request.resolver_match.url_name == 'bulk_user_creation' %}active{% endif %}" href="{% url "bulk_user_creation" %}">Bulk Create Users</a>
            <a class="leftNavItem {% if request.resolver_match.url_name == 'create_user_manually' %}active{% endif %}" href="{% url 'create_user_manually'%}">Create User Manually</a>
            <a class="leftNavItem {% if request.resolver_match.url_name == 'user_crud' %}active{% endif %}" href="{% url 'user_crud' %}">User CRUD</a>
        </div>
        <div class="rightContent">
            {% block function_window %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/user_management.js' %}"></script>
{% endblock %} 